body{
    background-color: black;
}
h1{
    text-align: center;
    color: orange;
}
h2{
    color: orange;
}
p{
    color: orange;
}

a{
    text-align: center;
    color: orange;
    display: block;
    padding: 0.5rem;
    border: 1.5px solid currentColor;
    border-radius: 2em;
    margin-left: 1em;
    transition: background 250ms ease-in-out;
    letter-spacing: 1px;
    padding: 0.75em 1.5em;
    --spacing: 1em;
    text-decoration: none;
    display: inline-block;
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
}
